@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color1: #001336;
    --color2: #007cc4;
    --color3: #bfdbfe;
    --color4: #f1f5f9;
    --color5: rgb(61, 139, 255);
}

body {
    background-color: var(--color4) !important;
}

.head {
    background-color: var(--color1);
    color: var(--color4);
    position: relative;
}

.input {
    background-color: var(--color4);
    color: var(--color1);
}
.center{
    margin: 0 auto !important;
}
@layer utilities {

    .inputFull {
        @apply w-full input px-4 py-2 rounded-md my-2 border-2 border-black
    }

    .button {
        @apply p-2 bg-sky-600 hover:bg-sky-500 text-white font-medium rounded-lg
    }

    .head {
        @apply text-2xl font-bold py-1 px-10 mb-2
    }

    .head::after {
        @apply content-[''] bg-sky-500 h-[100%] w-[5%] lg:w-[3%] left-0 -top-[0px] absolute
    }

    .container-form {
        @apply flex my-4 items-center justify-center
    }

    .container-into-form {
        @apply max-w-md py-10 rounded-md bg-white border-2
    }


}