@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color1: #001336;
    --color2: #007cc4;
    --color3: #bfdbfe;
    --color4: #f1f5f9;
    --color5: rgb(61, 139, 255);
}

body {
    background-color: var(--color4) !important;
}

.head {
    background-color: var(--color1);
    color: var(--color4);
    position: relative;
}

.input {
    background-color: var(--color4);
    color: var(--color1);
    padding-inline: 1rem;
}
.nav{
    background-color: var(--color1);
    color: var(--color4);
 
}
.Dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
}
.Dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;

}

li{
    align-items: end;
}
.input.disabled{
    color: red;
}


@layer utilities {

    .inputFull {
        @apply input w-full px-4 py-2 rounded-md my-2 border-2 border-black
    }

    .button {
        @apply p-2 bg-sky-600 hover:bg-sky-500 text-white font-medium rounded-lg
    }

    .head {
        @apply text-2xl font-bold py-1 px-10 mb-2
    }

    .head::after {
        @apply content-[''] bg-sky-500 h-[100%] w-[5%] lg:w-[3%] left-0 -top-[0px] absolute
    }
   
    .container-form {
        @apply flex my-4 items-center justify-center 
    }

    .container-into-form {
        @apply  py-10 rounded-md bg-white border-2 shadow-lg
    }
    .container-form-center{
        @apply flex h-[calc(100vh-100px)] items-center justify-center
    }
    .link{
        @apply font-medium text-sky-500
    }
    .Dropdown-item{
        @apply flex w-full items-center hover:bg-blue-200 cursor-pointer  py-2 px-10 text-zinc-900
    }
    .Dropdown-menu{
        @apply z-10 absolute top-14 right-0 rounded-lg py-2  text-nowrap  bg-slate-100 border-[#001336] border-2
    }
    .button-list{
        @apply text-2xl font-bold hover:text-sky-500 text-nowrap align-text-bottom px-5 pb-2 border-b-4
    }
    .button-list.active{
        @apply border-4 bg-slate-100 border-b-slate-100 
    }
    td{
        @apply px-5
    }
    .title{
        @apply text-2xl font-bold
    }
    .subtitle{
        @apply text-sm font-thin
    }
    .button-comment{
        @apply flex justify-center p-2 bg-slate-100 hover:bg-slate-200 border-2
    }

}